.habitsPage {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.topBar {
  display: flex;
  border-bottom: 3px solid white;
  position: sticky;
  z-index: 2;
  top: 4.7rem;
  background-color: black;
}
.mainHabits {
  padding: 2rem;
  height: 65vh;
  overflow-y: scroll;
}
.topBar__habits {
  flex: 0.5;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  margin: 1rem;
  border-radius: 1rem;
  transition: all 0.2s ease;
  border: 2px solid transparent;
  background-color: black;
  color: white;
  border: 1px solid white;
}
.topBar__habits:hover,
.topBar__habitActive {
  background-color: lightcoral;
}
.NoHabitsFound {
  color: white;
  font-weight: 200;
  font-size: 5rem;
  text-align: center;
}
