.habitsPage {
  display: flex;
  width: 100%;
}
.sidebar {
  flex: 0.3;
  padding: 2rem 0 0 2rem;
}
.mainHabits {
  flex: 0.7;
  padding: 2rem 2rem 0 0;
}
.sidebar__habits {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  margin: 1rem 0;
  border-radius: 1rem;
  transition: all 0.2s ease;
  border: 2px solid transparent;
}
.sidebar__habits:hover {
  color: white;
  background-color: lightcoral;
  border: 2px solid white;
}
