.home {
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  height: 85%;
}
.home__left,
.home__mid,
.home__right {
  display: flex;
  flex: 0.3;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.home__mid,
.home__right {
  height: 95%;
}
.home__pomodoro,
.home__googleFit {
  background-color: #294261;
  margin: 1rem 0;
  font-size: 36px;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
}
.home__pomodoro {
  flex: 0.3;
}
.home__googleFit {
  flex: 0.4;
}
.home__pomodoro {
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  font-size: 48px;
  background-size: cover;
}
.home__googleFit {
  display: flex;
  align-items: center;
}
.googleFitIcon {
  width: 120px;
  height: 120px;
  margin-right: 0.5rem;
}
@media (max-width: 840px) {
  .home {
    flex-direction: column;
    overflow-y: scroll;
  }
  .home::-webkit-scrollbar {
    display: none;
  }
  .home__left {
    margin: 1rem 0 0.5rem 0;
  }
  .home__pomodoro {
    margin: 0;
  }
  .home__googleFit {
    margin-bottom: 2rem;
  }
}
