.App {
  /* background-image: linear-gradient(
    to right,
    #ff6683 25%,
    #f9748f 50%,
    #fd868c 75%,
    #fe9a8b 100%
  ); */
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  width: 100vw;
  height: 100vh;
}
