.App {
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  height: 100%;
}

.lightFont {
  font-weight: 200;
}

::-moz-selection {
  color: #37ecba;
  background: #e27d60;
}

::selection {
  color: #37ecba;
  background: #e27d60;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: darkgrey;
}
